In [209]:
import pandas as pd

df_veg = pd.read_csv("data_vegetals.csv")
df_ani = pd.read_csv("data_animals.csv")
df_pop = pd.read_csv("data_population.csv")
df_grc = pd.read_csv("data_country_group.csv")

In [210]:
display(df_pop)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (FBS),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 No,36686.78,X,Figure from international organizations
1,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 No,37769.50,X,Figure from international organizations
2,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 No,2877.01,X,Figure from international organizations
3,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 No,2873.88,X,Figure from international organizations
4,FBS,Food Balances (2010-),12,Algeria,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 No,41927.01,X,Figure from international organizations
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,FBS,Food Balances (2010-),887,Yemen,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 No,31546.69,X,Figure from international organizations
362,FBS,Food Balances (2010-),894,Zambia,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 No,17835.89,X,Figure from international organizations
363,FBS,Food Balances (2010-),894,Zambia,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 No,18380.48,X,Figure from international organizations
364,FBS,Food Balances (2010-),716,Zimbabwe,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 No,15052.18,X,Figure from international organizations
365,FBS,Food Balances (2010-),716,Zimbabwe,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 No,15354.61,X,Figure from international organizations

problèmes de données non utilisées :
* Groundnuts
* Rape and Mustardseed
* Milk - Excluding Butter
* Infant food
* Miscellaneous
* Sunflower seed
* Cottonseed

nom ?
* Alcohol, Non-Food

In [211]:
### 01 RENOMMER LES COLONNES

# autre façon de faire
# df = df_data_p.rename(columns=lambda x: x.lower().replace(' ', '_'))

df_veg.columns = [title.lower().strip().replace(" ", "_").replace("(", "").replace(")", "") for title in df_veg.columns]
df_ani.columns = [title.lower().strip().replace(" ", "_").replace("(", "").replace(")", "") for title in df_ani.columns]
df_pop.columns = [title.lower().strip().replace(" ", "_").replace("(", "").replace(")", "") for title in df_pop.columns]
df_grc.columns = [title.lower().strip().replace(" ", "_").replace("(", "").replace(")", "") for title in df_grc.columns]

print(df_ani.loc[1])

domain_code                                         FBS
domain                            Food Balances (2010-)
area_code_m49                                         4
area                                        Afghanistan
element_code                                        645
element             Food supply quantity (kg/capita/yr)
item_code_fbs                                     S2731
item                                        Bovine Meat
year_code                                          2019
year                                               2019
unit                                                 kg
value                                              2.76
flag                                                  E
flag_description                        Estimated value
Name: 1, dtype: object

In [212]:
### 02 DIMENSIONS DU JEU DE DONNEES DE "POPULATION"

print("nombre de colonnes :", df_pop.shape[1])

print("nombre de lignes :", df_pop.shape[0])

nombre de colonnes : 14
nombre de lignes : 366

In [213]:
### 03 LES 5 PREMIERES LIGNES
display(df_pop.iloc[:5, 3])

0    Afghanistan
1    Afghanistan
2        Albania
3        Albania
4        Algeria
Name: area, dtype: object

In [214]:
### 04 fusion des dataframe df_ani et df_veg

df_ani.insert(loc=0, column='type', value='animal')
# ou
df_veg['type'] = "vegetal"

In [215]:
### 04 suite

df_pro = pd.concat([df_veg, df_ani], ignore_index=False)

display(df_pro)

,domain_code,domain,area_code_m49,area,element_code,element,item_code_fao,item,year_code,year,unit,value,flag,flag_description,type,item_code_fbs
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),2511.0,Wheat and products,2018,2018,kg,162.62,E,Estimated value,vegetal,NaN
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),2511.0,Wheat and products,2019,2019,kg,160.40,E,Estimated value,vegetal,NaN
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),2511.0,Wheat and products,2018,2018,kcal/cap/d,1365.34,E,Estimated value,vegetal,NaN
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),2511.0,Wheat and products,2019,2019,kcal/cap/d,1346.93,E,Estimated value,vegetal,NaN
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),2511.0,Wheat and products,2018,2018,g/cap/d,41.23,E,Estimated value,vegetal,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26380,FBS,Food Balances (2010-),716,Zimbabwe,684,Fat supply quantity (g/capita/day),NaN,"Molluscs, Other",2019,2019,g/cap/d,0.00,E,Estimated value,animal,S2767
26381,FBS,Food Balances (2010-),716,Zimbabwe,645,Food supply quantity (kg/capita/yr),NaN,"Aquatic Animals, Others",2019,2019,kg,0.00,E,Estimated value,animal,S2769
26382,FBS,Food Balances (2010-),716,Zimbabwe,664,Food supply (kcal/capita/day),NaN,"Aquatic Animals, Others",2019,2019,kcal/cap/d,0.00,E,Estimated value,animal,S2769
26383,FBS,Food Balances (2010-),716,Zimbabwe,674,Protein supply quantity (g/capita/day),NaN,"Aquatic Animals, Others",2019,2019,g/cap/d,0.00,E,Estimated value,animal,S2769
26384,FBS,Food Balances (2010-),716,Zimbabwe,684,Fat supply quantity (g/capita/day),NaN,"Aquatic Animals, Others",2019,2019,g/cap/d,0.00,E,Estimated value,animal,S2769

In [216]:
### 05 Transformez df_pop


# pays, le pays, l’année et la population
df_pop = df_pop[['area_code_m49', 'year', 'value']]

df_pop.columns = ['area_code_m49', 'year', 'pop_1000_hab']
# ou df_pop.rename(columns={'value': 'pop_1000_hab'})

In [217]:
### 05 suite

print(df_pop[df_pop['area_code_m49'] == 4])

   area_code_m49  year  pop_1000_hab
0              4  2018      36686.78
1              4  2019      37769.50

In [218]:
### 06 Transformez products

df_pro = df_pro[['area_code_m49', 'area', 'element', 'item', 'year', 'type', 'value', 'unit']]

In [219]:
### 06 suite

print(df_pro.columns)

Index(['area_code_m49', 'area', 'element', 'item', 'year', 'type', 'value',
       'unit'],
      dtype='object')

In [220]:
### 07 Fusionnez df_pop avec product

df_merge = pd.merge(df_pop, df_pro, on=['area_code_m49', 'year'], how='inner')

In [221]:
### 07 suite

print(df_merge.iloc[1])

area_code_m49                                4
year                                      2018
pop_1000_hab                          36686.78
area                               Afghanistan
element          Food supply (kcal/capita/day)
item                        Wheat and products
type                                   vegetal
value                                  1365.34
unit                                kcal/cap/d
Name: 1, dtype: object

In [222]:
### 08 type de données par colonne
display(df_merge.info())
display(df_merge.describe()) # describe() ne fonctionne que sur les valeurs numériques

for title in df_pro.columns:
    print(title, type(title))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112611 entries, 0 to 112610
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   area_code_m49  112611 non-null  int64
 1   year           112611 non-null  int64
 2   pop_1000_hab   112611 non-null  float64
 3   area           112611 non-null  object
 4   element        112611 non-null  object
 5   item           112611 non-null  object
 6   type           112611 non-null  object
 7   value          112611 non-null  float64
 8   unit           112611 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 7.7+ MB

None

       area_code_m49           year  pop_1000_hab          value
count  112611.000000  112611.000000  1.126110e+05  112611.000000
mean      425.504338    2018.508858  5.221383e+04      11.236271
std       250.520642       0.499924  1.890846e+05      56.120151
min         4.000000    2018.000000  1.213000e+01       0.000000
25%       204.000000    2018.000000  2.609490e+03       0.010000
50%       418.000000    2019.000000  1.015252e+04       0.260000
75%       642.000000    2019.000000  3.235359e+04       3.250000
max       894.000000    2019.000000  1.453802e+06    1744.850000

area_code_m49 <class 'str'>
area <class 'str'>
element <class 'str'>
item <class 'str'>
year <class 'str'>
type <class 'str'>
value <class 'str'>
unit <class 'str'>

In [223]:
### 09 y a-t-il des valeurs NULL

v_null = ""
v_non_null = ""

for title in df_pro.columns:
    if df_pro[title].count() < len(df_pro):
        v_non_null += f"La variable '{title}' possède " + str(len(df_pro) - df_pro[title].count()) + " valeurs NULL.\n"
    else:
        v_null += f"La variable '{title}' n'a pas de valeur NULL.\n"

print(v_non_null, "\n", v_null)

 La variable 'area_code_m49' n'a pas de valeur NULL.
La variable 'area' n'a pas de valeur NULL.
La variable 'element' n'a pas de valeur NULL.
La variable 'item' n'a pas de valeur NULL.
La variable 'year' n'a pas de valeur NULL.
La variable 'type' n'a pas de valeur NULL.
La variable 'value' n'a pas de valeur NULL.
La variable 'unit' n'a pas de valeur NULL.

In [224]:
### 10 existe-t-il des valeurs abérentes

display(df_pro.describe())

       area_code_m49           year          value
count  112611.000000  112611.000000  112611.000000
mean      425.504338    2018.508858      11.236271
std       250.520642       0.499924      56.120151
min         4.000000    2018.000000       0.000000
25%       204.000000    2018.000000       0.010000
50%       418.000000    2019.000000       0.260000
75%       642.000000    2019.000000       3.250000
max       894.000000    2019.000000    1744.850000

In [225]:
### 11 valeurs uniques de la colonne country (area)

areas = df_merge.area.unique()
print(areas)

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bhutan' 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile'
 'China' 'China, Hong Kong SAR' 'China, Macao SAR' 'China, mainland'
 'China, Taiwan Province of' 'Colombia' 'Comoros' 'Congo' 'Costa Rica'
 "Côte d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kuwait' 'Kyrgyzstan' "Lao People's Democratic Republic" 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Micronesia (Federated States of)' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands (Kingdom of the)' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Republic of Korea' 'Republic of Moldova' 'Romania'
 'Russian Federation' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Slovakia'
 'Slovenia' 'Solomon Islands' 'South Africa' 'South Sudan' 'Spain'
 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Timor-Leste' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Türkiye' 'Turkmenistan' 'Uganda'
 'Ukraine' 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Zambia' 'Zimbabwe']

In [226]:
## 12 Gardez uniquement les informations relatives aux pays

# ce code supprime les lignes liées à :
    # China >>> China, Hong Kong SAR
    # China >>> China, Macao SAR
    # China >>> China, mainland
    # China >>> China, Taiwan Province of
    # Republic of Korea >>> Democratic People's Republic of Korea

# for area in areas:
#     for area_target in areas:
#         if area_target.find(area) >= 0 and len(area) < len(area_target) and area not in ('Congo', 'Dominica', 'Guinea', 'Ireland', 'Niger', 'Sudan'):
#             print(area, ">>>", area_target)
#             df_merge = df_merge[df_merge['area'] != area_target]

print(df_merge.area.unique())

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bhutan' 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile'
 'China' 'China, Hong Kong SAR' 'China, Macao SAR' 'China, mainland'
 'China, Taiwan Province of' 'Colombia' 'Comoros' 'Congo' 'Costa Rica'
 "Côte d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kuwait' 'Kyrgyzstan' "Lao People's Democratic Republic" 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Micronesia (Federated States of)' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands (Kingdom of the)' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Republic of Korea' 'Republic of Moldova' 'Romania'
 'Russian Federation' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Slovakia'
 'Slovenia' 'Solomon Islands' 'South Africa' 'South Sudan' 'Spain'
 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Timor-Leste' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Türkiye' 'Turkmenistan' 'Uganda'
 'Ukraine' 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Zambia' 'Zimbabwe']

In [227]:
### 13 index par area_code, area, year, pop_1000_hab, type et item

df_merge = df_merge.sort_values(['area_code_m49', 'year', 'pop_1000_hab', 'type', 'item'])
df_merge = df_merge.reset_index(drop=True)

### ChatGPT
# Création d'une condition pour identifier les changements
condition = (
    (df_merge['area_code_m49'] != df_merge['area_code_m49'].shift(1)) |
    (df_merge['year'] != df_merge['year'].shift(1)) |
    (df_merge['pop_1000_hab'] != df_merge['pop_1000_hab'].shift(1)) |
    (df_merge['type'] != df_merge['type'].shift(1)) |
    (df_merge['item'] != df_merge['item'].shift(1))
)

# Comptage des changements et assignation à la colonne 'index2'
# df_merge['index2'] = condition.cumsumd()


### mon ancien code BEAUCOUP TROP LONG
# index2 = 1
# area_code_m49_old = ""
# year_old = ""
# pop_1000_hab_old = ""
# type_old = ""
# item_old = ""

# for index, row in df_merge.iterrows():
#     if area_code_m49_old != row['area_code_m49'] or \
#     year_old != row['year'] or \
#     pop_1000_hab_old != row['pop_1000_hab'] or \
#     type_old != row['type'] or \
#     item_old != row['item']:
#         index2 += 1
#         # 
#     df_merge['index2'] = index2

In [228]:
### 13 suite

df_pivot = df_merge.pivot_table(values='value', index=['area_code_m49', 'area', 'year', 'pop_1000_hab', 'type', 'item'], columns='element', aggfunc='sum')

In [229]:
### 13 suite

display(df_merge[df_merge['area'] == 'Afghanistan'])
display(df_pivot)

,area_code_m49,year,pop_1000_hab,area,element,item,type,value,unit
0,4,2018,36686.78,Afghanistan,Food supply quantity (kg/capita/yr),Bovine Meat,animal,2.67,kg
1,4,2018,36686.78,Afghanistan,Food supply (kcal/capita/day),Bovine Meat,animal,14.92,kcal/cap/d
2,4,2018,36686.78,Afghanistan,Protein supply quantity (g/capita/day),Bovine Meat,animal,1.12,g/cap/d
3,4,2018,36686.78,Afghanistan,Fat supply quantity (g/capita/day),Bovine Meat,animal,1.16,g/cap/d
4,4,2018,36686.78,Afghanistan,Food supply quantity (kg/capita/yr),"Butter, Ghee",animal,1.14,kg
...,...,...,...,...,...,...,...,...,...
563,4,2019,37769.50,Afghanistan,Fat supply quantity (g/capita/day),Wheat and products,vegetal,6.04,g/cap/d
564,4,2019,37769.50,Afghanistan,Food supply quantity (kg/capita/yr),Wine,vegetal,0.00,kg
565,4,2019,37769.50,Afghanistan,Food supply (kcal/capita/day),Wine,vegetal,0.01,kcal/cap/d
566,4,2019,37769.50,Afghanistan,Protein supply quantity (g/capita/day),Wine,vegetal,0.00,g/cap/d
567,4,2019,37769.50,Afghanistan,Fat supply quantity (g/capita/day),Wine,vegetal,0.00,g/cap/d

element                                                                    Fat supply quantity (g/capita/day)  \
area_code_m49 area        year pop_1000_hab type    item
4             Afghanistan 2018 36686.78     animal  Bovine Meat                                          1.16
                                                    Butter, Ghee                                         2.58
                                                    Cream                                                0.03
                                                    Demersal Fish                                        0.00
                                                    Eggs                                                 0.38
...                                                                                                       ...
894           Zambia      2019 18380.48     vegetal Tea (including mate)                                 0.00
                                                    Tomatoes and products                                0.01
                                                    Vegetables, other                                    0.16
                                                    Wheat and products                                   0.30
                                                    Wine                                                 0.00

element                                                                    Food supply (kcal/capita/day)  \
area_code_m49 area        year pop_1000_hab type    item
4             Afghanistan 2018 36686.78     animal  Bovine Meat                                    14.92
                                                    Butter, Ghee                                   23.35
                                                    Cream                                           0.31
                                                    Demersal Fish                                   0.17
                                                    Eggs                                            5.52
...                                                                                                  ...
894           Zambia      2019 18380.48     vegetal Tea (including mate)                            0.04
                                                    Tomatoes and products                           0.77
                                                    Vegetables, other                              13.58
                                                    Wheat and products                             57.63
                                                    Wine                                            0.32

element                                                                    Food supply quantity (kg/capita/yr)  \
area_code_m49 area        year pop_1000_hab type    item
4             Afghanistan 2018 36686.78     animal  Bovine Meat                                           2.67
                                                    Butter, Ghee                                          1.14
                                                    Cream                                                 0.04
                                                    Demersal Fish                                         0.15
                                                    Eggs                                                  1.57
...                                                                                                        ...
894           Zambia      2019 18380.48     vegetal Tea (including mate)                                  0.10
                                                    Tomatoes and products                                 1.36
                                                    Vegetables, other                                    17.53
                                                    Wheat and products                                    7.61
                                                    Wine                                                  0.15

element                                                                    Protein supply quantity (g/capita/day)
area_code_m49 area        year pop_1000_hab type    item
4             Afghanistan 2018 36686.78     animal  Bovine Meat                                              1.12
                                                    Butter, Ghee                                             0.02
                                                    Cream                                                    0.00
                                                    Demersal Fish                                            0.03
                                                    Eggs                                                     0.49
...                                                                                                           ...
894           Zambia      2019 18380.48     vegetal Tea (including mate)                                     0.00
                                                    Tomatoes and products                                    0.03
                                                    Vegetables, other                                        1.12
                                                    Wheat and products                                       1.80
                                                    Wine                                                     0.00

[28179 rows x 4 columns]

In [230]:
### 13 suite

df_pivot.reset_index(inplace=True)

In [231]:
### 13 suite

# df_unit = df_pivot['unit']
# df_value = df_pivot['value']
# df_value.reset_index()
# df_value.columns = ['element', 'v1', 'v2', 'v3', 'v4']
display(df_pivot)

# df_merge = pd.merge(df_pop, df_pro, on=['area_code_m49', 'year'], how='inner')
# df_all = pd.merge(df_unit, df_value, on=['element'], how='inner')

# display(df_all)

element,area_code_m49,area,year,pop_1000_hab,type,item,Fat supply quantity (g/capita/day),Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Protein supply quantity (g/capita/day)
0,4,Afghanistan,2018,36686.78,animal,Bovine Meat,1.16,14.92,2.67,1.12
1,4,Afghanistan,2018,36686.78,animal,"Butter, Ghee",2.58,23.35,1.14,0.02
2,4,Afghanistan,2018,36686.78,animal,Cream,0.03,0.31,0.04,0.00
3,4,Afghanistan,2018,36686.78,animal,Demersal Fish,0.00,0.17,0.15,0.03
4,4,Afghanistan,2018,36686.78,animal,Eggs,0.38,5.52,1.57,0.49
...,...,...,...,...,...,...,...,...,...,...
28174,894,Zambia,2019,18380.48,vegetal,Tea (including mate),0.00,0.04,0.10,0.00
28175,894,Zambia,2019,18380.48,vegetal,Tomatoes and products,0.01,0.77,1.36,0.03
28176,894,Zambia,2019,18380.48,vegetal,"Vegetables, other",0.16,13.58,17.53,1.12
28177,894,Zambia,2019,18380.48,vegetal,Wheat and products,0.30,57.63,7.61,1.80
28178,894,Zambia,2019,18380.48,vegetal,Wine,0.00,0.32,0.15,0.00

In [232]:
### 14 nettoyage des noms de colonnes

df_pivot.columns = [title.lower().strip().replace(" ", "_") for title in df_pivot.columns]

In [233]:
### 15 mask

m_2018 = df_pivot['year'] == 2018

In [234]:
### 15 suite

display(df_pivot[m_2018])

,area_code_m49,area,year,pop_1000_hab,type,item,fat_supply_quantity_(g/capita/day),food_supply_(kcal/capita/day),food_supply_quantity_(kg/capita/yr),protein_supply_quantity_(g/capita/day)
0,4,Afghanistan,2018,36686.78,animal,Bovine Meat,1.16,14.92,2.67,1.12
1,4,Afghanistan,2018,36686.78,animal,"Butter, Ghee",2.58,23.35,1.14,0.02
2,4,Afghanistan,2018,36686.78,animal,Cream,0.03,0.31,0.04,0.00
3,4,Afghanistan,2018,36686.78,animal,Demersal Fish,0.00,0.17,0.15,0.03
4,4,Afghanistan,2018,36686.78,animal,Eggs,0.38,5.52,1.57,0.49
...,...,...,...,...,...,...,...,...,...,...
28095,894,Zambia,2018,17835.89,vegetal,Tea (including mate),0.00,0.04,0.11,0.00
28096,894,Zambia,2018,17835.89,vegetal,Tomatoes and products,0.01,0.77,1.38,0.03
28097,894,Zambia,2018,17835.89,vegetal,"Vegetables, other",0.18,15.27,20.14,1.28
28098,894,Zambia,2018,17835.89,vegetal,Wheat and products,0.29,60.49,7.99,1.91
28099,894,Zambia,2018,17835.89,vegetal,Wine,0.00,0.40,0.18,0.00

In [235]:
### 16 zone géographique.

# 'eastern_africa', 'middle_africa', 'northern_africa', 'southern_africa', 'western_africa', 'northern_america', 'central_america', 'caribbean', 'south_america', 'central_asia', 'eastern_asia', 'southern_asia', 'south_eastern_asia', 'western_asia', 'eastern_europe', 'northern_europe', 'southern_europe', 'western_europe', 'australia_new_zealand', 'melanesia', 'micronesia', 'polynesia'

df_grc['country_group'] = df_grc['country_group'].str.lower()
list_ok = ['eastern africa', 'middle africa', 'northern africa', 'southern africa', 'western africa', 'northern america', 'central america', 'caribbean', 'south america', 'central asia', 'eastern asia', 'southern asia', 'south-eastern asia', 'western asia', 'eastern europe', 'northern europe', 'southern europe', 'western europe', 'australia and new zealand', 'melanesia', 'micronesia', 'polynesia']

df_gc2 = df_grc['country_group'].isin(list_ok)

In [236]:
### 16 suite

display(df_grc[df_gc2])
display(df_grc)

,country_group_code,country_group,country_code,country,m49_code,iso2_code,iso3_code
446,5501,australia and new zealand,10,Australia,36.00,AU,AUS
447,5501,australia and new zealand,42,Christmas Island,162.00,CX,CXR
448,5501,australia and new zealand,43,Cocos (Keeling) Islands,166.00,CC,CCK
449,5501,australia and new zealand,92,Heard and McDonald Islands,334.00,HM,HMD
450,5501,australia and new zealand,156,New Zealand,554.00,NZ,NZL
...,...,...,...,...,...,...,...
2239,5404,western europe,256,Luxembourg,442.00,LU,LUX
2240,5404,western europe,140,Monaco,492.00,MC,MCO
2241,5404,western europe,150,Netherlands (Kingdom of the),528.00,NL,NLD
2242,5404,western europe,211,Switzerland,756.00,CH,CHE
2243,5404,western europe,621,"Western Europe, unspecified (population)",155.01,F621,F621

,country_group_code,country_group,country_code,country,m49_code,iso2_code,iso3_code
0,5100,africa,601,"Africa, unspecified",577.0,F601,F601
1,5100,africa,4,Algeria,12.0,DZ,DZA
2,5100,africa,7,Angola,24.0,AO,AGO
3,5100,africa,53,Benin,204.0,BJ,BEN
4,5100,africa,20,Botswana,72.0,BW,BWA
...,...,...,...,...,...,...,...
2538,5000,world,246,Yemen Ar Rp,886.0,F246,F246
2539,5000,world,247,Yemen Dem,720.0,F247,F247
2540,5000,world,248,Yugoslav SFR,890.0,F248,F248
2541,5000,world,251,Zambia,894.0,ZM,ZMB
2542,5000,world,181,Zimbabwe,716.0,ZW,ZWE

In [237]:
l1 = df_grc['country'].unique()

l2 = df_grc[df_gc2]
l2 = l2['country'].unique()

# Vérification si toutes les valeurs de liste_1 sont présentes dans liste_2
toutes_presentes = all(elem in l2 for elem in l1)
print(toutes_presentes)
toutes_presentes = all(elem in l1 for elem in l2)
print(toutes_presentes)

# Trouver les éléments de liste_1 qui ne sont pas dans liste_2
elements_absents = [elem for elem in l1 if elem not in l2]

print("Les éléments de l1 absents dans l2 sont :", elements_absents)

False
True
Les éléments de l1 absents dans l2 sont : ['Africa, unspecified', 'Adaptation Fund', 'African Development Bank (AfDB)', 'African Development Fund (AfDF)', 'Arab Bank for Economic Development in Africa (BADEA)', 'Arab Fund for Economic and Social Development (AFESD)', 'Arab Fund for Technical Assistance to African and Arab Countries', 'Arcadia Fund', 'Arcus Foundation', 'Asian Development Bank (AsDB)', 'Asian Infrastructure Investment Bank', 'BBVA Microfinance Foundation', 'Bernard van Leer Foundation', 'Bezos Earth Fund', 'Bill & Melinda Gates Foundation', 'Black Sea Trade & Development Bank', 'Bloomberg Family Foundation', 'Botnar Foundation', 'C&A Foundation', 'Caribbean Development Bank (CDB)', 'Carnegie Corporation of New York', 'Center of Excellence in Finance', 'Central Emergency Response Fund', 'Charity Projects Ltd (Comic Relief)', "Children's Investment Fund Foundation", 'Citi Foundation', 'Climate Investment Funds (CIF)', 'Conrad N. Hilton Foundation', 'Council of Europe', 'Council of Europe Development Bank (CEB)', 'COVID-19 Response and Recovery Multi-Partner Trust Fund', 'Credit Guarantee and Investment Facility', 'David & Lucile Packard Foundation', 'Development Bank of Latin America', 'Dutch Postcode Lottery', 'Eurasian Fund for  Stabilization and Development', 'European Bank for Reconstruction and Development (EBRD)', 'European Union (EU) Institutions', 'Food and Agriculture Organization of the United Nations (FAO)', 'Ford Foundation', 'Gatsby Charitable Foundation', 'German Postcode Lottery', 'Global Alliance for Vaccines and Immunization (GAVI)', 'Global Energy Efficiency and Renewable Energy Fund', 'Global Environment Facility (GEF)', 'Global Fund', 'Global Green Growth Institute (GGGI)', 'Global Partnership for Education', 'GODE', 'Gordon and Betty Moore Foundation', 'Grameen Crédit Agricole Foundation', 'Green Climate Fund', 'H&M Foundation', 'Howard G. Buffett Foundation', 'IDB Invest', 'IKEA Foundation', 'IMF Trust Fund', 'Inter-American Development Bank (IDB)', 'International Atomic Energy Agency', 'International Bank for Reconstruction and Development (IBRD)', 'International Commission on Missing Persons', 'International Development Association (IDA)', 'International Finance Corporation (IFC)', 'International Fund for Agricultural Development (IFAD)', 'International Investment Bank', 'International Labour Organization (ILO)', 'International Monetary Fund (IMF)', 'Islamic Development Bank (IsDB)', 'Islamic Monetary Fund', 'Jacobs Foundation', 'John D. & Catherine T. MacArthur Foundation', 'Joint Sustainable Development Goals Fund', 'Joint United Nations Programme on HIV/AIDS (UNAIDS)', 'La Caixa Banking Foundation', 'Laudes Foundation', 'LEGO Foundation', 'Margaret A. Cargill Foundation', 'MasterCard Foundation', 'MAVA Foundation', 'McKnight Foundation', 'MetLife Foundation', 'Michael & Susan Dell Foundation', 'Multilateral Investment Fund (IDB) (MIF)', 'Multilateral Investment Guarantee Agency', 'New Development Bank', 'Nordic Development Fund (NDF)', 'North American Development Bank', 'Norwegian Postcode Lottery', 'Oak Foundation', 'Omidyar Network Fund, Inc.', 'OPEC Fund for International Development (OFID)', 'Open Society Foundations', 'Organization for Security and Co-operation in Europe\xa0(OSCE)', 'Other Arab Agencies', "People's Postcode Lottery", 'Private Infrastructure Development Group', 'Rockefeller Foundation', 'Special Arab Aid Fund for Africa', 'Susan T. Buffett Foundation', 'Swedish Postcode Lottery', 'UBS Optimus Foundation', 'UN AGENCIES', 'UN Women', 'United Nations Capital Development Fund', "United Nations Children's Fund (UNICEF)", 'United Nations Conference on Trade and Development', 'United Nations Development Programme (UNDP)', 'United Nations Economic Commission for Europe (UNECE)', 'United Nations Environment Programme (UNEP)', 'United Nations High Commissioner for Refugees (UNHCR)', 'United Nations Industrial Development Organization', 'United Nations Institute for Disarmament Research', 'United Nations Peacebuilding Fund (UNPBF)', 'United Nations Population Fund (UNFPA)', 'United Nations Relief and Works Agency (UNRWA)', 'United Nations Transitional Authority (UNTA)', 'Wellcome Trust', 'WHO-Strategic Preparedness and Response Plan', 'William & Flora Hewlett Foundation', 'World Diabetes Foundation', 'World Food Programme (WFP)', 'World Health Organization (WHO)', 'World Tourism Organisation', 'World Trade Organisation', 'WTO - International  Trade Centre', 'Americas, unspecified', 'Antarctica', 'Asia, unspecified', 'Europe, unspecified', 'Germany Fr', 'Germany Nl', 'Johnston Island', 'Midway Island', 'Oceania, unspecified', 'Developing countries, unspecified', 'Others (adjustment)', 'Unspecified Area']

In [238]:
### dernier test pour vérifier que l'on a toutes les régions demandées dans le brief

l2 = df_grc[df_gc2]
l2 = l2['country_group'].unique()

# Trouver les éléments de liste_1 qui ne sont pas dans liste_2
elements_absents = [elem for elem in list_ok if elem not in l2]

print("Les éléments de l1 absents dans l2 sont :", elements_absents)

Les éléments de l1 absents dans l2 sont : []

In [239]:
### merge des données
# 28179

# permet de restreinde la liste group country
df_grc = df_grc[df_gc2]
# nettoyage
df_grc = df_grc[['country_group_code', 'country_group','m49_code']]
df_grc.columns = ['country_group_code', 'country_group', 'area_code_m49']

df_merge2 = pd.merge(df_pivot, df_grc)

df_merge2 = df_merge2[['country_group_code', 'country_group', 'area_code_m49', 'area', 'year', 'pop_1000_hab', 'type', 'item', 'fat_supply_quantity_(g/capita/day)', 'food_supply_(kcal/capita/day)', 'food_supply_quantity_(kg/capita/yr)', 'protein_supply_quantity_(g/capita/day)']]

/tmp/ipykernel_155272/1343250802.py:10: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  df_merge2 = pd.merge(df_pivot, df_grc)

In [240]:
display(df_merge2)

,country_group_code,country_group,area_code_m49,area,year,pop_1000_hab,type,item,fat_supply_quantity_(g/capita/day),food_supply_(kcal/capita/day),food_supply_quantity_(kg/capita/yr),protein_supply_quantity_(g/capita/day)
0,5303,southern asia,4,Afghanistan,2018,36686.78,animal,Bovine Meat,1.16,14.92,2.67,1.12
1,5303,southern asia,4,Afghanistan,2018,36686.78,animal,"Butter, Ghee",2.58,23.35,1.14,0.02
2,5303,southern asia,4,Afghanistan,2018,36686.78,animal,Cream,0.03,0.31,0.04,0.00
3,5303,southern asia,4,Afghanistan,2018,36686.78,animal,Demersal Fish,0.00,0.17,0.15,0.03
4,5303,southern asia,4,Afghanistan,2018,36686.78,animal,Eggs,0.38,5.52,1.57,0.49
...,...,...,...,...,...,...,...,...,...,...,...,...
28174,5101,eastern africa,894,Zambia,2019,18380.48,vegetal,Tea (including mate),0.00,0.04,0.10,0.00
28175,5101,eastern africa,894,Zambia,2019,18380.48,vegetal,Tomatoes and products,0.01,0.77,1.36,0.03
28176,5101,eastern africa,894,Zambia,2019,18380.48,vegetal,"Vegetables, other",0.16,13.58,17.53,1.12
28177,5101,eastern africa,894,Zambia,2019,18380.48,vegetal,Wheat and products,0.30,57.63,7.61,1.80
28178,5101,eastern africa,894,Zambia,2019,18380.48,vegetal,Wine,0.00,0.32,0.15,0.00

# Etape 3

In [250]:
### 17 Quelle est la médiane de la variable food_supply_quantity_(g/capita/day) ? Q1 ? Q3 ? La moyenne ? L’écart type ?
# Interpréter ces valeurs en les intégrant dasn une phrase.
cible = 'food_supply_quantity_(kg/capita/yr)'
median = df_merge2[cible].median()
Q1 = df_merge2[cible].quantile(0.25)
Q2 = df_merge2[cible].quantile(0.75)
mean = df_merge2[cible].mean()
std = df_merge2[cible].std()

texte = f"""Voici les informations liées à la variable '{cible}' :
-    médiane : {median}
-         Q1 : {Q1}
-         Q2 : {Q2}
-    moyenne : {mean}
- écart type : {std}"""

print(texte)

Voici les informations liées à la variable 'food_supply_quantity_(kg/capita/yr)' :
-    médiane : 0.88
-         Q1 : 0.06
-         Q2 : 5.82
-    moyenne : 8.286508343117374
- écart type : 21.65537197603652

In [ ]:
### 18 Visualisez la distribution des données numériques à l’aide d’un histogramme. Utilisez une boucle si nécessaire.
# Si certaines variables contiennent des valeurs extrêmes vous pouvez effectuer une transformation sur vos données. (En logarithmes par exemple)

In [ ]:
### 19 Quelle est la population de l’Ukraine en 2018 ? L’output doit être un int (pas un DataFrame)

In [ ]:
### 20 Quels sont les 10 pays les plus peuplés ?

In [ ]:
### 21 Quelle est la population mondiale en 2018 ? En 2019 ? Est-ce que ce chiffre correspond à la réalité ?
# Menez votre enquête et faites les corrections nécessaires en cas de problème. Contrôlez vos données grâce à ce site.

In [ ]:
### 22 Créez une nouvelle colonne taux_croissance_pop_18_19 avec le taux de variation de la population entre 2018 et 2019 dans chaque pays.
# Affichez les 5 pays avec le taux de croissance démographique le plus élevé.

In [ ]:
### 23 Quel est le taux de croissance moyen en fonction de la zone géographique ?

In [ ]:
### 24 ulez la disponibilité de nourriture totale par pays et par année, en kcal et kg de protéines. Attention aux unités de mesure !

In [ ]:
### 25 En vous basant sur le résultat de la question précédente, calculez le ratio énergie/poids de chaque produit et pays.
# Vous devriez vous apercevoir qu’étonnement, ces informations varient en fonction du pays. Pour pallier ce problème, calculez
# la moyenne de ce ratio pour chaque aliment.  Attention à bien gérer les valeurs égales à 0. Vérifiez la cohérence de votre
# calcul en comparant le résultat avec l’apport calorique d’un œuf.

In [ ]:
### 26 À l’instar de la question précédente, calculez le pourcentage de protéine de chaque aliment.
# Vérifiez votre résultat en le comparant avec l’apport en protéines d’un œuf.

In [ ]:
### 27 Quels sont les 10 aliments les plus caloriques ?

In [ ]:
### 28 Quels sont les 10 aliments les plus riches en protéines ?

In [ ]:
### 29 Créez une boîte à moustache de la quantité de nourriture par habitant en kcal par pays. Créez sur un même graphique un boxplot par zone géographique.
# Mettez un titre, changez les étiquettes des axes et changez la couleur en fonction de la zone géographique.
# Effectuez ce graphique en utilisant la librairie de visualisation matplotlib puis installez la librairie seaborn et refaites-le.
# Commentez les différences d’utilisation entre ces deux librairies.

In [ ]:
### 30 Avec la disponibilité alimentaire de produits végétaux combien d’être humains pourrait-on nourrir ?

In [ ]:
### 31 Avec Matplotlib, tracez l'évolution de la population (pop_1000_hab) de 2018 à 2019 pour les 5 pays les plus peuplés.
# Utilisez un graphique en barres pour chaque pays pour comparer les deux années.

In [ ]:
### 32 Récupérer d’une source externe le PIB par habitant et calculer le coefficient de corrélation de pearson entre le PIB/hab et
# la disponibilité alimentaire par habitant.