In [752]:
import pandas as pd

df_veg = pd.read_csv("../data_vegetals.csv")
df_ani = pd.read_csv("../data_animals.csv")
df_pop = pd.read_csv("../data_population.csv")

problèmes de données non utilisées :
* Groundnuts
* Rape and Mustardseed
* Milk - Excluding Butter
* Infant food
* Miscellaneous
* Sunflower seed
* Cottonseed

nom ?
* Alcohol, Non-Food

In [753]:
### 01 RENOMMER LES COLONNES

# autre façon de faire
# df = df_data_p.rename(columns=lambda x: x.lower().replace(' ', '_'))

df_veg.columns = [title.lower().strip().replace(" ", "_").replace("(", "").replace(")", "") for title in df_veg.columns]
df_ani.columns = [title.lower().strip().replace(" ", "_").replace("(", "").replace(")", "") for title in df_ani.columns]
df_pop.columns = [title.lower().strip().replace(" ", "_").replace("(", "").replace(")", "") for title in df_pop.columns]

print(df_ani.loc[1])

domain_code                                         FBS
domain                            Food Balances (2010-)
area_code_m49                                         4
area                                        Afghanistan
element_code                                        645
element             Food supply quantity (kg/capita/yr)
item_code_fbs                                     S2731
item                                        Bovine Meat
year_code                                          2019
year                                               2019
unit                                                 kg
value                                              2.76
flag                                                  E
flag_description                        Estimated value
Name: 1, dtype: object

In [754]:
### 02 DIMENSIONS DU JEU DE DONNEES DE "POPULATION"

print("nombre de colonnes :", df_pop.shape[1])

print("nombre de lignes :", df_pop.shape[0])

nombre de colonnes : 14
nombre de lignes : 366

In [755]:
### 03 LES 5 PREMIERES LIGNES
display(df_pop.iloc[:5, 3])

0    Afghanistan
1    Afghanistan
2        Albania
3        Albania
4        Algeria
Name: area, dtype: object

In [756]:
### 04 fusion des dataframe df_ani et df_veg

df_ani.insert(loc=0, column='type', value='animal')
# ou
df_veg['type'] = "vegetal"

In [757]:
### 04 suite

df_pro = pd.concat([df_veg, df_ani], ignore_index=False)

display(df_pro)

,domain_code,domain,area_code_m49,area,element_code,element,item_code_fao,item,year_code,year,unit,value,flag,flag_description,type,item_code_fbs
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),2511.0,Wheat and products,2018,2018,kg,162.62,E,Estimated value,vegetal,NaN
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),2511.0,Wheat and products,2019,2019,kg,160.40,E,Estimated value,vegetal,NaN
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),2511.0,Wheat and products,2018,2018,kcal/cap/d,1365.34,E,Estimated value,vegetal,NaN
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),2511.0,Wheat and products,2019,2019,kcal/cap/d,1346.93,E,Estimated value,vegetal,NaN
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),2511.0,Wheat and products,2018,2018,g/cap/d,41.23,E,Estimated value,vegetal,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26380,FBS,Food Balances (2010-),716,Zimbabwe,684,Fat supply quantity (g/capita/day),NaN,"Molluscs, Other",2019,2019,g/cap/d,0.00,E,Estimated value,animal,S2767
26381,FBS,Food Balances (2010-),716,Zimbabwe,645,Food supply quantity (kg/capita/yr),NaN,"Aquatic Animals, Others",2019,2019,kg,0.00,E,Estimated value,animal,S2769
26382,FBS,Food Balances (2010-),716,Zimbabwe,664,Food supply (kcal/capita/day),NaN,"Aquatic Animals, Others",2019,2019,kcal/cap/d,0.00,E,Estimated value,animal,S2769
26383,FBS,Food Balances (2010-),716,Zimbabwe,674,Protein supply quantity (g/capita/day),NaN,"Aquatic Animals, Others",2019,2019,g/cap/d,0.00,E,Estimated value,animal,S2769
26384,FBS,Food Balances (2010-),716,Zimbabwe,684,Fat supply quantity (g/capita/day),NaN,"Aquatic Animals, Others",2019,2019,g/cap/d,0.00,E,Estimated value,animal,S2769

In [758]:
### 05 Transformez df_pop


# pays, le pays, l’année et la population
df_pop = df_pop[['area_code_m49', 'value']]

df_pop.columns = ['area_code_m49', 'pop_1000_hab']
# ou df_pop.rename(columns={'value': 'pop_1000_hab'})

In [759]:
### 05 suite

print(df_pop)

     area_code_m49  pop_1000_hab
0                4      36686.78
1                4      37769.50
2                8       2877.01
3                8       2873.88
4               12      41927.01
..             ...           ...
361            887      31546.69
362            894      17835.89
363            894      18380.48
364            716      15052.18
365            716      15354.61

[366 rows x 2 columns]

In [760]:
### 06 Transformez products

df_pro = df_pro[['area_code_m49', 'area', 'element', 'item', 'year', 'type', 'value', 'unit']]

In [761]:
### 06 suite

print(df_pro.columns)

Index(['area_code_m49', 'area', 'element', 'item', 'year', 'type', 'value',
       'unit'],
      dtype='object')

In [762]:
### 07 Fusionnez df_pop avec product

df_merge = pd.merge(df_pop, df_pro, on='area_code_m49', how='inner')

In [763]:
### 07 suite

print(df_merge.iloc[1])

area_code_m49                                      4
pop_1000_hab                                36686.78
area                                     Afghanistan
element          Food supply quantity (kg/capita/yr)
item                              Wheat and products
year                                            2019
type                                         vegetal
value                                          160.4
unit                                              kg
Name: 1, dtype: object

In [764]:
### 08 type de données par colonne
display(df_merge.info())
display(df_merge.describe()) # describe() ne fonctionne que sur les valeurs numériques

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223495 entries, 0 to 223494
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   area_code_m49  223495 non-null  int64
 1   pop_1000_hab   223495 non-null  float64
 2   area           223495 non-null  object
 3   element        223495 non-null  object
 4   item           223495 non-null  object
 5   year           223495 non-null  int64
 6   type           223495 non-null  object
 7   value          223495 non-null  float64
 8   unit           223495 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 15.3+ MB

None

       area_code_m49  pop_1000_hab           year          value
count  223495.000000  2.234950e+05  223495.000000  223495.000000
mean      425.504794  5.259548e+04    2018.505063      11.227491
std       250.293169  1.897632e+05       0.499975      56.117705
min         4.000000  1.213000e+01    2018.000000       0.000000
25%       204.000000  2.641840e+03    2018.000000       0.010000
50%       418.000000  1.016230e+04    2019.000000       0.260000
75%       642.000000  3.239927e+04    2019.000000       3.250000
max       894.000000  1.453802e+06    2019.000000    1744.850000

In [765]:
### 09 y a-t-il des valeurs NULL

v_null = ""
v_non_null = ""

for title in df_pro.columns:
    if df_pro[title].count() < len(df_pro):
        v_non_null += f"La variable '{title}' possède " + str(len(df_pro) - df_pro[title].count()) + " valeurs NULL.\n"
    else:
        v_null += f"La variable '{title}' n'a pas de valeur NULL.\n"

print(v_non_null, "\n", v_null)

 La variable 'area_code_m49' n'a pas de valeur NULL.
La variable 'area' n'a pas de valeur NULL.
La variable 'element' n'a pas de valeur NULL.
La variable 'item' n'a pas de valeur NULL.
La variable 'year' n'a pas de valeur NULL.
La variable 'type' n'a pas de valeur NULL.
La variable 'value' n'a pas de valeur NULL.
La variable 'unit' n'a pas de valeur NULL.

In [766]:
### 10 existe-t-il des valeurs abérentes

display(df_pro.describe())

       area_code_m49           year          value
count  112611.000000  112611.000000  112611.000000
mean      425.504338    2018.508858      11.236271
std       250.520642       0.499924      56.120151
min         4.000000    2018.000000       0.000000
25%       204.000000    2018.000000       0.010000
50%       418.000000    2019.000000       0.260000
75%       642.000000    2019.000000       3.250000
max       894.000000    2019.000000    1744.850000

In [767]:
### 11 valeurs uniques de la colonne country (area)

areas = df_merge.area.unique()
print(areas)

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bhutan' 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile'
 'China' 'China, Hong Kong SAR' 'China, Macao SAR' 'China, mainland'
 'China, Taiwan Province of' 'Colombia' 'Comoros' 'Congo' 'Costa Rica'
 "Côte d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kuwait' 'Kyrgyzstan' "Lao People's Democratic Republic" 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Micronesia (Federated States of)' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands (Kingdom of the)' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Republic of Korea' 'Republic of Moldova' 'Romania'
 'Russian Federation' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Slovakia'
 'Slovenia' 'Solomon Islands' 'South Africa' 'South Sudan' 'Spain'
 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Timor-Leste' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Türkiye' 'Turkmenistan' 'Uganda'
 'Ukraine' 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Zambia' 'Zimbabwe']

In [768]:
## 12 Gardez uniquement les informations relatives aux pays

# ce code supprime les lignes liées à :
    # China >>> China, Hong Kong SAR
    # China >>> China, Macao SAR
    # China >>> China, mainland
    # China >>> China, Taiwan Province of
    # Republic of Korea >>> Democratic People's Republic of Korea

# for area in areas:
#     for area_target in areas:
#         if area_target.find(area) >= 0 and len(area) < len(area_target) and area not in ('Congo', 'Dominica', 'Guinea', 'Ireland', 'Niger', 'Sudan'):
#             print(area, ">>>", area_target)
#             df_merge = df_merge[df_merge['area'] != area_target]

print(df_merge.area.unique())

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bhutan' 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile'
 'China' 'China, Hong Kong SAR' 'China, Macao SAR' 'China, mainland'
 'China, Taiwan Province of' 'Colombia' 'Comoros' 'Congo' 'Costa Rica'
 "Côte d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kuwait' 'Kyrgyzstan' "Lao People's Democratic Republic" 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Micronesia (Federated States of)' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands (Kingdom of the)' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Republic of Korea' 'Republic of Moldova' 'Romania'
 'Russian Federation' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Slovakia'
 'Slovenia' 'Solomon Islands' 'South Africa' 'South Sudan' 'Spain'
 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Timor-Leste' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Türkiye' 'Turkmenistan' 'Uganda'
 'Ukraine' 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Zambia' 'Zimbabwe']

In [769]:
### 13 index par area_code, area, year, pop_1000_hab, type et item

df_merge = df_merge.sort_values(['area_code_m49', 'year', 'pop_1000_hab', 'type', 'item'])
df_merge = df_merge.reset_index(drop=True)

### ChatGPT
# Création d'une condition pour identifier les changements
condition = (
    (df_merge['area_code_m49'] != df_merge['area_code_m49'].shift(1)) |
    (df_merge['year'] != df_merge['year'].shift(1)) |
    (df_merge['pop_1000_hab'] != df_merge['pop_1000_hab'].shift(1)) |
    (df_merge['type'] != df_merge['type'].shift(1)) |
    (df_merge['item'] != df_merge['item'].shift(1))
)

# Comptage des changements et assignation à la colonne 'index2'
df_merge['index2'] = condition.cumsum()


### mon ancien code BEAUCOUP TROP LONG
# index2 = 1
# area_code_m49_old = ""
# year_old = ""
# pop_1000_hab_old = ""
# type_old = ""
# item_old = ""

# for index, row in df_merge.iterrows():
#     if area_code_m49_old != row['area_code_m49'] or \
#     year_old != row['year'] or \
#     pop_1000_hab_old != row['pop_1000_hab'] or \
#     type_old != row['type'] or \
#     item_old != row['item']:
#         index2 += 1
#         # 
#     df_merge['index2'] = index2

In [773]:
display(df_merge)

,area_code_m49,pop_1000_hab,area,element,item,year,type,value,unit,index2
0,4,36686.78,Afghanistan,Food supply quantity (kg/capita/yr),Bovine Meat,2018,animal,2.67,kg,1
1,4,36686.78,Afghanistan,Food supply (kcal/capita/day),Bovine Meat,2018,animal,14.92,kcal/cap/d,1
2,4,36686.78,Afghanistan,Protein supply quantity (g/capita/day),Bovine Meat,2018,animal,1.12,g/cap/d,1
3,4,36686.78,Afghanistan,Fat supply quantity (g/capita/day),Bovine Meat,2018,animal,1.16,g/cap/d,1
4,4,36686.78,Afghanistan,Food supply quantity (kg/capita/yr),"Butter, Ghee",2018,animal,1.14,kg,2
...,...,...,...,...,...,...,...,...,...,...
223490,894,18380.48,Zambia,Fat supply quantity (g/capita/day),Wheat and products,2019,vegetal,0.30,g/cap/d,55925
223491,894,18380.48,Zambia,Food supply quantity (kg/capita/yr),Wine,2019,vegetal,0.15,kg,55926
223492,894,18380.48,Zambia,Food supply (kcal/capita/day),Wine,2019,vegetal,0.32,kcal/cap/d,55926
223493,894,18380.48,Zambia,Protein supply quantity (g/capita/day),Wine,2019,vegetal,0.00,g/cap/d,55926
223494,894,18380.48,Zambia,Fat supply quantity (g/capita/day),Wine,2019,vegetal,0.00,g/cap/d,55926

In [771]:
# import pandas as pd

# Création d'un DataFrame exemple
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data)

# Boucle pour tester toutes les lignes
for index, row in df.iterrows():
    print(f"Ligne {index}:")
    print(row['C'])
    # Ton code de test pour chaque ligne ici...

Ligne 0:
7
Ligne 1:
8
Ligne 2:
9